file-container {
    .file-uploader {
        border: 1px solid #202429;
        min-width: 200px !important;
        max-width: 200px !important;
        margin: 0 !important;

        svg {
            color: #202429 !important;
        }
    }
}