.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .no-data {
        width: 60%;
        height: max-content;
    }

    h3 {
        text-align: center;
        margin: 30px 0;
    }

    p {
        text-align: center;
        font-size: 0.8em;
    }

    img {
        width: 100%;
    }
}